# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'ARM-Pipeline-Connection'
    subscriptionId: '4d11fd7a-7e11-4d3f-89ee-1c7997185652'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'ATB-T-UKS-LAB-DEVOPS-PIPELINE2-RG'
    location: 'UK South'
    templateLocation: 'URL of the file'
    csmFileLink: 'https://raw.githubusercontent.com/atbnet/ARM-Pipeline-Repo/master/WebApp/azuredeploy.json'
    overrideParameters: '-projectName atbtest2'
    deploymentMode: 'Incremental'
    deploymentName: 'DeployPipelineTemplate'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
